@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --main-color: #d9fef2;
    --primary-color: #004c33;
    --secondary-color: #008156;
    --tertiary-color: #3552a1;
    --white-color: #f8fff8;
    --gray-color: #747272;
    --red-color: #c00000;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--main-color);
    color: #444444;
}

header div {
    background-color: var(--main-color);
}

header a img {
    border: none;
    border-radius: 50% !important;
    max-width: 40px;
}

img {
    border-radius: 10px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--tertiary-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/* STARTERS  */

.starters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.starters .profile {
    border-radius: 50% !important;
}

.starters .card {
    border: none !important;
    border-radius: 10px;
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.starters .card a span {
    margin-left: 50px;
    margin-right: 50px;
}

.starters form .starters-input {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    padding: 12px;
    background-color: transparent;
        color: var(--primary-color);
}

/* TOPIC */

.topic {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.topic .card {
    border: none !important;
    border-radius: 10px;
    background-color: transparent !important;
}

.topic .avatar {
    border-radius: 50% !important;
}

.topic .modal-content {
    background-color: var(--main-color);
}

/* PRACTICE & QUIZ */

.practice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.practice .card {
    border: none !important;
    border-radius: 10px;
    background-color: transparent !important;
}

.practice p {
    margin-top: 15px;
    color: var(--main-color);
}

.practice h4 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.practice input[type="radio"] {
    background-color: var(--gray-color);
}

/* BUTTONS */

.btn-a {
    border: 0;
    border-radius: 15px;
    padding: 8px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    }
    
    .btn-a:hover {
        background-color: var(--tertiary-color);
        transition: 0.5s;
    }

.btn-b {
    border: 0;
    border-radius: 15px;
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    }
    
    .btn-b:hover {
        background-color: var(--tertiary-color);
        transition: 0.5s;
}

.btn-login {
    border: 0;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--tertiary-color);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
        width: 100%;
        color: #cccccc;
        cursor: not-allowed;
    }
    
    .btn-login:hover {
        background-color: var(--secondary-color);
}

.btn-reset {
    border: 1px solid var(--red-color);
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    color: var(--red-color);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
        width: 100%;
    }
    
    /* OTHERS */
    
    .background-waiting {
        background-color: #0000008f;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .waiting {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        background-color: #0000008f;
        color: #fff;
    }
    
    .waiting p {
        margin-top: 18px;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #loading {
        display: none;
    }
    
    #loading .bi-gear {
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
    
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

/* TABLE */

.table img {
    border-radius: 50%;
}

/* OTHERS */
.background-waiting {
    background-color: #0000008f;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.waiting {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #0000008f;
    color: #fff;
}

.waiting p {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


/* FOOTER */

footer div {
    background-color: var(--main-color);
}

footer div a {
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.notifications {
    position: absolute;
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 8px;
    background-color: var(--red-color);
    color: #fff;
    border: 2px solid #bbfde8;
    border-radius: 50%;
    bottom: 35px;
    right: 60px;
}
.home-notifications {
    position: absolute;
    padding-left: 4.5px;
    padding-right: 4.5px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 8px;
    background-color: var(--red-color);
    color: #fff;
    border: 2px solid #bbfde8;
    border-radius: 50%;
    bottom: 80px;
    left: 20px;
}